services:
    web:
        image: nginx
        container_name: web
        ports:
            - 8081:80
        volumes:
            - ./gamepad-extensions/index.html:/usr/share/nginx/html/index.html:ro
            - ./gamepad-extensions/js:/usr/share/nginx/html/js:ro
            - ./gamepad-extensions/nginx.conf:/etc/nginx/conf.d/default.conf:ro
            - ./gamepad-viewer:/usr/share/nginx/html/gamepad-viewer:ro
        working_dir: /usr/share/nginx/html/gamepad-extensions
    
    str2joy:
        build: 
            context: ./ros2app
            dockerfile: Dockerfile
        container_name: str2joy
        ports:
          - "8080:8080"
        volumes:
        - ./ros2app/ros2_ws:/root/ros2_ws
        tty: true
        command: ["bash", "-c", "source /opt/ros/humble/setup.bash && source /root/ros2_ws/install/setup.bash && colcon build && ros2 run websocket_receiver websocket_receiver"]

    joy2cmd:
        build: 
            context: ./ros2app
            dockerfile: Dockerfile
        container_name: joy2cmd
        volumes:
            - ./ros2app/xbox.config.yaml:/xbox.config.yaml
        tty: true
        command: ros2 launch teleop_twist_joy teleop-launch.py joy_config:='xbox' config_filepath:=/xbox.config.yaml
